{% import "frontend/elements/svg/svg_macros.twig" as Svg %}
<div class="hero">
    <div class="container container_sm">
        <div class="hero__title">
            Магазин восточных сладостей и средиземноморской продукции
        </div>
    </div>
</div>