{% import "frontend/elements/svg/svg_macros.twig" as Svg %}
<div class="skills anim-skills">
    <div class="container container_sm">
        {% include 'frontend/components/screen-skills/skills.twig' %}
    </div>
</div>

