<div class="slider-nav">
    <div class="slider-nav__btn">
        {% include 'modules/slider/slider_nav_left.twig' %}
    </div>
    <div class="slider-nav__btn">
        {% include 'modules/slider/slider_nav_right.twig' %}
    </div>
</div>