<div class="modal">
    <div class="modal__head{% if head_class %} modal__head_{{ head_class }}{% endif %}">
        <div class="modal__pattern"></div>
        <div class="modal__title">{{ title }}</div>
    </div>
    <div class="modal__content">
        {{ content }}
    </div>
</div>