.s-card-preview {
  $root: &;
  display: flex;

  &__dop {
    margin-right: 12px;
  }

  &__dop-list {
    width: 64px;
    max-width: 64px;
  }

  &__dop-item {
    margin: 8px 0;
    width: 64px;
    height: 96px !important;

    &.slick-current:before {
      content: '';
      position: absolute;
      @extend %absolute-full;
      @include size(100%);
      border: 2px solid $color__primary--1;
      @include transitions(box-shadow);
    }

    img {
      @include size(100%);
    }
  }

  &__main {
    flex: 1;
  }

  &__badge {
    position: absolute;
    top: 14px;
    left: 14px;
    z-index: 1;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    .slick-dots {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 24px;
    }
  }

  &__item {
    width: 100%;
    display: none;

    &:first-child {
      display: block;
    }
  }

  &__item-inner {
    padding-bottom: 95.95782073813708%;

    img {
      @extend %absolute-full;
      @include size(100%);
    }
  }

  &__arrow {
    @extend %flex-center;
    @include size(36px);
    margin: 0 auto;
    cursor: pointer;

    &_prev {
      #{$root}__icon {
        transform: rotate(180deg);
      }
    }

    &:not(.slick-disabled):hover {
      #{$root}__icon {
        svg * {
          fill: $color__primary--1;
          @include transitions(fill);
        }
      }
    }

    &.slick-disabled {
      svg * {
        fill: $color__light--3;
      }
    }
  }

  &__icon {
    @include size(32px);
  }

  .modal & {
    &__item-inner {
      padding-bottom: 133.33333333%;
    }
  }

  @include media('<lg') {
    &__item-inner {
      padding-bottom: 133.3333333%;
    }
  }

  @include media('<md') {
    &__dop {
      display: none;
    }
  }
}