{% import "frontend/elements/badge/badge.twig" as Badge %}
{% import "frontend/elements/svg/svg_macros.twig" as Svg %}
<div class="card-preview">
    <div class="card-preview__main">
        <img src="{{ info.item_icon_url }}" alt="{{ info.item_title }}">
    </div>
</div>