<div class="article_container">
    <div class="article_wrapper text">
        <section>
            <div class="m-3">
                <div class="a-head">
                    <div class="a-head__block">
                        <div class="a-head__img">
                            <img style="max-width: 100%;" src="/uploads/images/original/content/Q9n7RrpI.jpg" alt="">
                        </div>
                    </div>
                    <div class="a-head__block">
                        <div class="a-head__content">
                            <p contentEditable="true">Вам вручили съедобный букет? Поздравляем! Теперь давайте разберёмся, как его хранить и можно
                                ли это делать вообще.</p>
                            <h3 contentEditable="true">Подготовка к хранению2</h3>
                            <p contentEditable="true">В собранном красивом виде букет хочется хранить, но увы — не получится. Поэтому придётся его
                                разобрать. Сначала осмотрите букет. Обычно в композиции кладут только целые и свежие плоды.
                                Некоторые фрукты и ягоды могут быть в пике своей спелости, поэтому их нужно съесть в день
                                вручения, чтобы не испортились. То же следует сделать с уже разрезанными овощами, фруктами
                                или ягодами. Но сначала любые плоды промойте чистой водой.</p>
                            <p contentEditable="true">Ягоды снимите со шпажек, ополосните.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="add_section_wrapper">
            <a href="#ex1" class="add_section popup-open" data-mfp-src="#ex1"><img src="/assets/images/svg/addadd.svg" alt=""></a>
        </div>
        <section>
            <div class="m-3">
                <div class="bq">
                    <div class="bq__icon"></div>
                    <div class="bq__text" contentEditable="true">Каждый букет собирается под заказ не более чем за час до выдачи заказчику. Вы
                        можете быть уверены все ингредиенты в букете свежие. Срок хранения букета зависит от состава.
                    </div>
                </div>
            </div>
        </section>
        <div class="add_section_wrapper">
            <a href="#ex1" class="add_section popup-open" data-mfp-src="#ex1"><img src="/assets/images/svg/addadd.svg" alt=""></a>
        </div>
        <section>
            <div class="m-3">
                <div class="a-block">
                    <h3 contentEditable="true">Как и сколько хранить</h3>
                    <p contentEditable="true">Если в букете есть цветы, их можно перенести в вазу или другую ёмкость. Обычно растения закрепляются
                        в букете на флористическую губку, в неё можно подливать воду. У всех цветов разный срок хранения.
                        Следите, чтобы у них всегда была вода. Срок жизни цветка можно продлить, если время от времени
                        подрезать стебель.</p>
                    <ul>
                        <li contentEditable="true"><strong>Букет из ягод</strong>
                            <p contentEditable="true">Часто дарят букеты из клубники в шоколаде. Это романтично, эстетично и вкусно. Храните его в
                                прохладном месте 2-3 дня. Если вы купили букет заранее, то можно хранить его не более 12
                                часов при комнатной температуре, прежде чем подарить.</p>
                        </li>
                        <li contentEditable="true"><strong>Букет из ягод</strong>
                            <p contentEditable="true">Часто дарят букеты из клубники в шоколаде. Это романтично, эстетично и вкусно. Храните его в
                                прохладном месте 2-3 дня. Если вы купили букет заранее, то можно хранить его не более 12
                                часов при комнатной температуре, прежде чем подарить.</p>
                        </li>
                        <li contentEditable="true"><strong>Букет из ягод</strong>
                            <p contentEditable="true">Часто дарят букеты из клубники в шоколаде. Это романтично, эстетично и вкусно. Храните его в
                                прохладном месте 2-3 дня. Если вы купили букет заранее, то можно хранить его не более 12
                                часов при комнатной температуре, прежде чем подарить.</p>
                        </li>
                        <li contentEditable="true"><strong>Букет из ягод</strong>
                            <p contentEditable="true">Часто дарят букеты из клубники в шоколаде. Это романтично, эстетично и вкусно. Храните его в
                                прохладном месте 2-3 дня. Если вы купили букет заранее, то можно хранить его не более 12
                                часов при комнатной температуре, прежде чем подарить.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="add_section_wrapper">
            <a href="#ex1" class="add_section popup-open" data-mfp-src="#ex1"><img src="/assets/images/svg/addadd.svg" alt=""></a>
        </div>
        <section>
            <div class="m-3">
                <div class="a-images">
                    <div class="a-images__wrapper">
                        <div class="a-images__element">
                            <div class="a-images__image">
{#                                <a href="/uploads/images/original/content/Q9n7RrpI.jpg" alt="">#}
                                    <img class="image image_cover" contentEditable="true" src="/uploads/images/original/content/Q9n7RrpI.jpg"  alt="">
{#                                </a>#}
                            </div>
                        </div>
                        <div class="a-images__element">
                            <div class="a-images__image">
                                <a href="/uploads/images/original/content/Q9n7RrpI.jpg" alt="">
                                    <img class="image image_cover" src="/uploads/images/original/content/Q9n7RrpI.jpg"  alt="">
                                </a>
                            </div>
                        </div>
                        <div class="a-images__element">
                            <div class="a-images__image"><a href="/uploads/images/original/content/Q9n7RrpI.jpg" alt="">
                                    <img class="image image_cover" src="/uploads/images/original/content/Q9n7RrpI.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="add_section_wrapper">
            <a href="#ex1" class="add_section popup-open" data-mfp-src="#ex1"><img src="/assets/images/svg/addadd.svg" alt=""></a>
        </div>
        <section>
            <div class="m-3">
                <div class="a-block">
                    <h3 contentEditable="true">Можно ли купить букет заранее?</h3>
                    <p contentEditable="true">Лучше заказывать съедобный букет как можно ближе ко времени вручения. Так всё останется свежим и
                        красивым. Если вы не можете самостоятельно заехать в салон, лучше закажите доставку в нужное время.
                        Так сюрприз точно получится.</p>
                </div>
            </div>
        </section>
        <div class="add_section_wrapper">
            <a href="#ex1" class="add_section popup-open" data-mfp-src="#ex1"><img src="/assets/images/svg/addadd.svg" alt=""></a>
        </div>
        <section>
            <div class="m-3">
                <div class="a-block">
                    <h3 contentEditable="true">Где купить съедобный букет в Симферополе с доставкой</h3>
                    <p contentEditable="true">В онлайн-каталоге THE SMAK вы найдёте огромный выбор съедобных букетов на любой вкус и кошелёк.
                        Заходите! Профессиональные флористы создают изысканные композиции, которые точно оценят! Также мы
                        доставляем букеты по Крыму. Оформите заявку онлайн — привезём его в удобное вам место.</p>
                </div>
            </div>
        </section>
        <div class="add_section_wrapper">
            <a href="#ex1" class="add_section popup-open" data-mfp-src="#ex1"><img src="/assets/images/svg/addadd.svg" alt=""></a>
        </div>

        <div id="ex1" class="modal mfp-hide">
            <table>
                <tr>
                    <td><a href="#" class="js_add_section" data-tooltip="source/images/20.jpg" id="image_text">Картинка слева, текст справа</a></td>
                </tr>
                <tr>
                    <td><a href="#" class="js_add_section" data-tooltip="source/images/addadd.svg" id="title_text">Блок с заголовком</a></td>
                </tr>
                <tr>
                    <td><a href="#" class="js_add_section" data-tooltip="source/images/hero-1.png" id="list_block">Блок со списком</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="tooltip"></div>

