.s-info {
  display: flex;
  flex-wrap: wrap;

  &__l,
  &__r {
    flex: 1;
    width: 50%;
  }

  &__l {
    margin-right: 32px;
  }


  @include media('<xl') {
    &__l {
      margin-right: 16px;
    }
  }

  @include media('<lg') {
    &__l,
    &__r {
      flex: none;
      width: 100%;
      margin: 0;
    }

    &__r {
      margin-top: 32px;
    }
  }
}