.counter {
  display: inline-flex;
  align-items: center;
  border: 2px solid $color__light--3;
  padding: 6px;
  border-radius: 40px;
  background-color: $color__light;
  overflow: hidden;
  &__elem {
    @extend %flex-center;
    border-radius: 50%;
    background-color: $color__light--2;
    @include size(36px);
    flex: 0 0 36px;
    border: 0;
    padding: 0;
    box-shadow: none;
    @include transitions(background-color);

    svg * {
      @include transitions(fill);
    }

    &:disabled {
      background-color: $color__light--1;

      svg * {
        fill: $color__light--3;
      }
    }

    &:not(:disabled):hover {
      background-color: $color__primary--1;

      svg * {
        fill: $color__light;
      }
    }

    &:not(:disabled):active {
      background-color: $color__light--2;

      svg * {
        fill: $color__dark--3;
      }
    }
  }

  &__val {
    @include size(31px, 36px);
    padding: 0;
    margin: 0;
    border: 0;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2;
    color: $color__dark--3;
  }

  &__icon {
    margin: 0 auto;
    @include size(24px);
  }
}