{% import "frontend/elements/svg/svg_macros.twig" as Svg %}
<div class="error404">
    <div class="container container-1">
        <div class="p-1">
            <div class="pattern-404 parallax-item"></div>
            <div class="error404__wrapper">
                <div class="error404__block">
                    <div class="error404__block-text"><div class="error404__block-text-img">{{ Svg.icon('404-icon-text', 1) }}</div></div>
                    <div class="error404__block-img">
                        <svg viewBox="0 0 360 360" fill="none" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                            <clipPath id="mask">
                                <path d="M143.963 7.24458C143.963 3.24351 147.206 0 151.207 0C155.208 0 158.452 3.24351 158.452 7.24458C158.452 11.2457 155.208 14.4892 151.207 14.4892C147.206 14.4892 143.963 11.2457 143.963 7.24458Z"
                                      fill="#ECEFF1"/>
                                <path d="M143.963 7.24458C143.963 3.24351 147.206 0 151.207 0C155.208 0 158.452 3.24351 158.452 7.24458C158.452 11.2457 155.208 14.4892 151.207 14.4892C147.206 14.4892 143.963 11.2457 143.963 7.24458Z"
                                      fill="#ECEFF1"/>
                                <path d="M91.5638 2.229L94.1377 0.742929L102.316 14.9086L116.809 14.0387L107.459 32.9478L128.51 34.3054L120.481 46.4656L129.701 64.3933C137.002 43.6574 156.763 28.7926 180 28.7926C205.052 28.7926 226.065 46.0705 231.779 69.3587C234.615 69.107 237.467 69.0408 240.312 69.1585L241.48 63.2962L252.553 61.0303L239.065 45.6836L258.419 39.1365L250.014 31.683L254.723 14.1089L257.593 14.8782L253.36 30.6779L264.223 40.3107L244.241 47.0703L258.166 62.9153L244.009 65.8123L243.304 69.351C254.707 70.348 265.266 74.2976 274.208 80.43C281.449 66.7469 294.217 56.8062 307.036 50.2616C320.154 43.565 333.551 40.3096 341.566 40.3096H342.585L342.953 41.2598C347.857 53.9445 354.75 82.3057 337.059 111.652L336.693 112.29C350.389 118.102 360 132.068 360 148.33C360 162.084 352.629 177.168 342.063 184.115L342.054 184.121L341.759 184.322C341.863 184.389 341.964 184.456 342.063 184.522L346.147 187.245H341.238C339.432 187.245 336.09 188.194 331.574 190.34C327.125 192.454 321.715 195.644 315.839 199.917C304.088 208.463 290.54 221.296 279.131 238.409C265.57 258.751 252.252 271.848 240.934 279.872C230.904 286.983 222.359 290.168 216.575 290.784L219.173 298.579C231.291 290.838 244.401 295.214 254.838 303.297C257.54 305.387 260.268 307.43 263.459 308.721C266.81 310.076 271.191 310.96 277.895 310.96V313.932C270.929 313.932 266.146 313.013 262.345 311.476C257.053 309.336 252.964 305.289 248.278 302.165C237.75 295.147 227.34 296.58 220.146 301.498L233.527 341.64C233.027 342.139 232.527 342.634 231.995 343.099C231.429 343.595 230.59 344.293 229.479 345.127C227.257 346.793 223.942 349.002 219.535 351.205C210.715 355.615 197.532 360 180 360C162.468 360 149.285 355.615 140.465 351.205C136.058 349.002 132.743 346.793 130.521 345.127C129.41 344.293 128.571 343.595 128.005 343.099C127.473 342.634 126.973 342.139 126.473 341.64L139.855 301.495C132.592 296.458 122.228 294.288 111.789 302.118C107.442 305.378 103.506 309.229 98.4127 311.345C94.4642 312.984 89.4818 313.932 82.1053 313.932V310.96C89.2316 310.96 93.7962 310.044 97.2726 308.6C102.104 306.593 105.876 302.837 110.006 299.74C121.367 291.22 132.798 293.334 140.83 298.57L143.501 290.555C136.927 289.097 127.393 284.697 116.855 276.932C105.319 268.432 92.4822 255.829 80.8688 238.409C69.236 220.96 56.6396 208.611 45.4377 200.396C34.2035 192.158 24.4541 188.138 18.5356 187.227L14.7524 186.645L16.0871 185.755C6.70008 182.317 0 173.305 0 162.725C0 153.29 5.32806 145.103 13.1339 141.003L12.7898 140.182L12.7653 140.095C11.9518 137.219 11.517 134.185 11.517 131.053C11.517 119.843 17.081 109.933 25.592 103.933L22.9753 100.191L22.9494 100.148C5.24768 70.7976 12.1427 42.4295 17.0475 29.7428L17.4148 28.7926H18.4336C26.3298 28.7926 38.9741 30.5525 51.4272 35.8202C63.5762 40.9593 75.6592 49.4895 82.8858 63.103C89.5269 59.5802 97.1021 57.5852 105.139 57.5852C112.238 57.5852 118.976 59.1414 125.028 61.9319L117.047 46.2727L123.208 36.9418L102.819 35.6269L111.875 17.3124L100.661 17.9855L91.5638 2.229Z"
                                      fill="#ECEFF1"/>
                                <path d="M91.5638 2.229L94.1377 0.742929L102.316 14.9086L116.809 14.0387L107.459 32.9478L128.51 34.3054L120.481 46.4656L129.701 64.3933C137.002 43.6574 156.763 28.7926 180 28.7926C205.052 28.7926 226.065 46.0705 231.779 69.3587C234.615 69.107 237.467 69.0408 240.312 69.1585L241.48 63.2962L252.553 61.0303L239.065 45.6836L258.419 39.1365L250.014 31.683L254.723 14.1089L257.593 14.8782L253.36 30.6779L264.223 40.3107L244.241 47.0703L258.166 62.9153L244.009 65.8123L243.304 69.351C254.707 70.348 265.266 74.2976 274.208 80.43C281.449 66.7469 294.217 56.8062 307.036 50.2616C320.154 43.565 333.551 40.3096 341.566 40.3096H342.585L342.953 41.2598C347.857 53.9445 354.75 82.3057 337.059 111.652L336.693 112.29C350.389 118.102 360 132.068 360 148.33C360 162.084 352.629 177.168 342.063 184.115L342.054 184.121L341.759 184.322C341.863 184.389 341.964 184.456 342.063 184.522L346.147 187.245H341.238C339.432 187.245 336.09 188.194 331.574 190.34C327.125 192.454 321.715 195.644 315.839 199.917C304.088 208.463 290.54 221.296 279.131 238.409C265.57 258.751 252.252 271.848 240.934 279.872C230.904 286.983 222.359 290.168 216.575 290.784L219.173 298.579C231.291 290.838 244.401 295.214 254.838 303.297C257.54 305.387 260.268 307.43 263.459 308.721C266.81 310.076 271.191 310.96 277.895 310.96V313.932C270.929 313.932 266.146 313.013 262.345 311.476C257.053 309.336 252.964 305.289 248.278 302.165C237.75 295.147 227.34 296.58 220.146 301.498L233.527 341.64C233.027 342.139 232.527 342.634 231.995 343.099C231.429 343.595 230.59 344.293 229.479 345.127C227.257 346.793 223.942 349.002 219.535 351.205C210.715 355.615 197.532 360 180 360C162.468 360 149.285 355.615 140.465 351.205C136.058 349.002 132.743 346.793 130.521 345.127C129.41 344.293 128.571 343.595 128.005 343.099C127.473 342.634 126.973 342.139 126.473 341.64L139.855 301.495C132.592 296.458 122.228 294.288 111.789 302.118C107.442 305.378 103.506 309.229 98.4127 311.345C94.4642 312.984 89.4818 313.932 82.1053 313.932V310.96C89.2316 310.96 93.7962 310.044 97.2726 308.6C102.104 306.593 105.876 302.837 110.006 299.74C121.367 291.22 132.798 293.334 140.83 298.57L143.501 290.555C136.927 289.097 127.393 284.697 116.855 276.932C105.319 268.432 92.4822 255.829 80.8688 238.409C69.236 220.96 56.6396 208.611 45.4377 200.396C34.2035 192.158 24.4541 188.138 18.5356 187.227L14.7524 186.645L16.0871 185.755C6.70008 182.317 0 173.305 0 162.725C0 153.29 5.32806 145.103 13.1339 141.003L12.7898 140.182L12.7653 140.095C11.9518 137.219 11.517 134.185 11.517 131.053C11.517 119.843 17.081 109.933 25.592 103.933L22.9753 100.191L22.9494 100.148C5.24768 70.7976 12.1427 42.4295 17.0475 29.7428L17.4148 28.7926H18.4336C26.3298 28.7926 38.9741 30.5525 51.4272 35.8202C63.5762 40.9593 75.6592 49.4895 82.8858 63.103C89.5269 59.5802 97.1021 57.5852 105.139 57.5852C112.238 57.5852 118.976 59.1414 125.028 61.9319L117.047 46.2727L123.208 36.9418L102.819 35.6269L111.875 17.3124L100.661 17.9855L91.5638 2.229Z"
                                      fill="url(#pattern1)"/>
                                <path d="M287.926 24.5201C287.926 20.5191 291.169 17.2755 295.17 17.2755C299.171 17.2755 302.415 20.5191 302.415 24.5201C302.415 28.5212 299.171 31.7647 295.17 31.7647C291.169 31.7647 287.926 28.5212 287.926 24.5201Z"
                                      fill="#ECEFF1"/>
                                <path d="M287.926 24.5201C287.926 20.5191 291.169 17.2755 295.17 17.2755C299.171 17.2755 302.415 20.5191 302.415 24.5201C302.415 28.5212 299.171 31.7647 295.17 31.7647C291.169 31.7647 287.926 28.5212 287.926 24.5201Z"
                                      fill="#ECEFF1"/>
                            </clipPath>
                            <g class="svg-g-404" clip-path="url(#mask)">
                                <g class="svg-image-404">
                                    <image class="parallax-item" width="720" height="720"
                                           xlink:href="/assets/images/static/image-404.jpg"/>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="error404__content">
                    <div class="error404__title">Страница не найдена!</div>
                    <div class="error404__text">Возможно эта страница удалена, а ссылка устарела. Проверьте правильность
                        написания, может вы ошиблись.
                    </div>
                    <div class="error404__link">
                        <a href="/" class="button button_second button_md">
                            <span class="button__container">
                                <span class="button__icon">{{ Svg.icon('arrow-left', 1) }}</span>
                                <span class="button__text">На главную</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
