.icon-applepay { background-image: url('png/applepay.png'); background-repeat: no-repeat; }

.icon-cart_icon { background-image: url('png/cart_icon.png'); background-repeat: no-repeat; }

.icon-chevron-left { background-image: url('png/chevron-left.png'); background-repeat: no-repeat; }

.icon-chevron-right { background-image: url('png/chevron-right.png'); background-repeat: no-repeat; }

.icon-delete { background-image: url('png/delete.png'); background-repeat: no-repeat; }

.icon-googlepay { background-image: url('png/googlepay.png'); background-repeat: no-repeat; }

.icon-head_decor { background-image: url('png/head_decor.png'); background-repeat: no-repeat; }

.icon-logo-2 { background-image: url('png/logo-2.png'); background-repeat: no-repeat; }

.icon-main-logo { background-image: url('png/main-logo.png'); background-repeat: no-repeat; }

.icon-mastercard { background-image: url('png/mastercard.png'); background-repeat: no-repeat; }

.icon-skill1 { background-image: url('png/skill1.png'); background-repeat: no-repeat; }

.icon-skill2 { background-image: url('png/skill2.png'); background-repeat: no-repeat; }

.icon-skill3 { background-image: url('png/skill3.png'); background-repeat: no-repeat; }

.icon-to_cart { background-image: url('png/to_cart.png'); background-repeat: no-repeat; }

.icon-to_item { background-image: url('png/to_item.png'); background-repeat: no-repeat; }

.icon-visa { background-image: url('png/visa.png'); background-repeat: no-repeat; }

.icon-whatsapp { background-image: url('png/whatsapp.png'); background-repeat: no-repeat; }

