* {
    -webkit-tap-highlight-color: transparent;
}

html {
    -webkit-text-size-adjust: none;
    overflow-x:hidden;
}

body {
    width: 100%;
    min-height: 100%;
    color: $color__dark--3;
    background-color: $color__light;

    font-family: $font-family__main;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow-x: hidden;
    backface-visibility: hidden;
    position: relative;

    &.menu-open {
        .menu {
            opacity: 1;
            visibility: visible;
        }

        .page__backdrop {
            display: block;
        }
    }

    @include media('<md') {
        &.menu-open {
            height: 100vh;
            overflow: hidden;
        }
    }
}
