.mce-content-body,
.text {
  table, tr,td {

  }

  td {

  }

  ul {
    li {
      padding-left: 30px;
      margin-bottom: 14px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        @include size(22px);
        background-image: url('/assets/images/svg/icon-list-3.svg');
        @extend %background__cover;
      }

      strong {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
        font-size: 18px;
        line-height: 1.2;
        color: $color__dark--3;
      }
    }
  }

  ol {
    li {

    }
  }
  a {

  }

  b,
  strong {

  }

  p {
    font-size: 18px;
    line-height: 1.4;
    color: $color__dark--3;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    & + h1,
    & + h2,
    & + h3, & + h4, & + h5 {
      margin-top: 40px;
    }
  }

  h1, h2, h3, h4, h5 {
    font-family: $font-family__second;
    font-size: 42px;
    letter-spacing: .04em;
    line-height: 1.1;
    color: $color__dark;
    margin-bottom: 24px;
  }

  h3 {
    font-size: 32px;
  }

  &_2 {
    p {
      font-size: 16px;
    }
  }

  @include media('<xl') {
    h1, h2, h3, h4, h5 {
      font-size: 32px;
      line-height: 1.15;
    }
  }

  @include media('<md') {
    h1, h2, h3, h4, h5 {
      font-size: 24px;
      line-height: 1.15;
      margin-bottom: 14px;
    }

    p {
      margin-bottom: 14px;
      font-size: 16px;

      & + h1,
      & + h2,
      & + h3, & + h4, & + h5 {
        margin-top: 24px;
      }
    }
  }
}

.cat-no-text {
  width: 100%;
  padding: 10%;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.15;
  letter-spacing: .04em;
  color: $color__dark--3;
  text-align: center;
}
