{% extends "users/auth/auth_template.html.twig" %}
{% block header_title %}{{ page_name }}{% endblock %}
{% block auth_content %}
    <div class="users_confirmation_block">
       Ваш аккаунт на проверка у нашего менеджера. В ближайшее время он свяжется с Вами.
    </div>
{% endblock %}
