<div class="item-thumb">
    <div class="item-thumb_top">
        <div class="item-thumb_image">
            <img src="{{ item.item_icon_url }}" alt="">
        </div>
    </div>
    <div class="item-thumb_bottom">
        <div class="item-thumb_title">
            {{ item.item_title }}
        </div>
        <div class="item-thumb_price">{{ item.item_price }} ₽</div>
    </div>
</div>