{% import "frontend/elements/svg/svg_macros.twig" as Svg %}
<div class="error404">
    <div class="container container-1">
        <div class="p-1">

            <div class="error404__wrapper">

                <div class="error404__content">
                    <div class="error404__title">Страница не найдена!</div>
                    <div class="error404__text">Возможно эта страница удалена, а ссылка устарела. Проверьте правильность
                        написания, может вы ошиблись.
                    </div>
                    <div class="error404__link">
                        <a href="/" class="button button_second button_md">
                            <span class="button__container">
                                <span class="button__text">На главную</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
