@font-face {
  font-family: 'Cuprum-Regular';
  src: local('Cuprum Regular'),local('Cuprum-Regular'),  url('/assets/fonts/Cuprum-Regular.eot?#iefix') format('embedded-opentype'),  url('/assets/fonts/Cuprum-Regular.woff') format('woff'), url('/assets/fonts/Cuprum-Regular.ttf')  format('truetype'), url('/assets/fonts/Cuprum-Regular.svg#Cuprum-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum-Bold';
  src: local('Cuprum Bold'),local('Cuprum-Bold'), url('/assets/fonts/Cuprum-Bold.eot?#iefix') format('embedded-opentype'),  url('/assets/fonts/Cuprum-Bold.woff') format('woff'), url('/assets/fonts/Cuprum-Bold.ttf')  format('truetype'), url('/assets/fonts/Cuprum-Bold.svg#Cuprum-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cuprum-BoldItalic';
  src: local('Cuprum BoldItalic'),local('Cuprum-BoldItalic'), url('/assets/fonts/Cuprum-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('/assets/fonts/Cuprum-BoldItalic.woff') format('woff'), url('/assets/fonts/Cuprum-BoldItalic.ttf')  format('truetype'), url('/assets/fonts/Cuprum-BoldItalic.svg#Cuprum-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum-Italic';
  src: local('Cuprum Italic'),local('Cuprum-Italic'), url('/assets/fonts/Cuprum-Italic.eot?#iefix') format('embedded-opentype'),  url('/assets/fonts/Cuprum-Italic.woff') format('woff'), url('/assets/fonts/Cuprum-Italic.ttf')  format('truetype'), url('/assets/fonts/Cuprum-Italic.svg#Cuprum-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}