{% extends "manager/global.html.twig" %}
{% block content %}

    <div class="form">
        <div class="fields">

            <div class="line">
                <div class="label required">
                    Имя:
                </div>
                <div class="value">
                    <input name="callback_name" class="element required" type="text"  maxlength="250"  value="{{ info.callback_name }}">
                </div>
            </div>

            <div class="line">
                <div class="label">
                    Телефон:
                </div>
                <div class="value">
                    <input name="callback_phone" class="element required" type="text"  maxlength="250"  value="{{ info.callback_phone }}">
                </div>
            </div>
            {% if edit==1 %}
                <input type="hidden" class="element" name="action" value="process_edit">
                <input type="hidden" class="element" name="callback_id" value="{{ info.callback_id }}">
            {% else %}
                <input type="hidden" class="element" name="action" value="process_add">
            {% endif %}
        </div>
        <div class="submit btn btn-primary">
            {% if edit==1 %}
                Сохранить
            {% else %}
                Добавить
            {% endif %}
        </div>
    </div>
{% endblock %}
