{% extends "manager/global.html.twig" %}
{% block content %}
    <div class="table_data">
        Категория:<br/>
        <div>
            <select data-no-empty="1" data-before="GetSubCatSelect" data-name="cat_id" data-level="1" data-type="filter_value">
                <option value="0">Все</option>
                {{ variables.cats_select|raw }}
            </select>
        </div>
        <div class="sort_block">
            Сортировка:<br/>
            <select data-name="order" data-type="filter_value">
                <option value="field_title">По названию</option>
                <option value="field_count">По кол-ву</option>
                <option value="filter_sort2">По сортировке</option>
            </select>
        </div>
        <br>
        <table class="table_bordered table_striped">
            <thead>
            <tr>
                <th style="width:75px;"></th>
                <th style="width: 100px">Фильтр</th>
                <th>Название</th>
                <th>Парент</th>
                <th style="width:100px;">Товаров</th>
                <th style="width:75px;">Значений</th>
            </tr>
            <tr>
                <th></th>
                <th>
                    <select data-name="badge" data-type="filter_value">
                        <option value="">Выберите</option>
                        <option value="no">Нет</option>
                        <option value="yes">Да</option>
                    </select>
                </th>
                <th>
                    <input data-name="field_title" data-type="filter_value" placeholder="Название" type="text">
                </th>
                <th>
                    <select data-name="parent_id" data-type="filter_value">
                        <option value="0">Все</option>
                        {{ variables.cats_select|raw }}
                    </select>
                </th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody class="table_content sortable">
            {% include 'shop/manage/filters_table.html.twig' %}
            </tbody>
        </table>
    </div>
{% endblock %}
