.about_wrapper{
  background: url("/assets/images/static/about.jpg");
  padding: 114px 0 88px;
  min-height: 631px ;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about{
  width: 550px;
  &_logo {
    margin-bottom: 35px;
  }
  &_text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;


    color: $color__secondary--1;

  }
}