.header {
  background-color: $color__light;
  height: 76px;
  z-index: 112;
  &_wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__links{
    display: flex;
    &_item{
      height: 100%;
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 16px;

      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $color__secondary--2;
      padding: 0 25px;
      @include transitions(all);

      &_active{
        background-color: $color__secondary--3;
        color: $color__secondary--1;
      }
      &:not(&_active):hover{
        transform: scale(1.03);
        background-color: $color__light--1;
        color:$color__secondary--1
      }
    }
    &_basket{
      height: 76px;
      width: 76px;
      display: flex;
      align-items: center;
      justify-content: center;
      &_count{
        @include size(20px);
        background-color: $color__primary--1;
        color: $color__light;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        position: absolute;
        top: 14px;
        right: 14px;
      }
      @include transitions(all);
      &:hover{
        transform: scale(1.03);
        background-color: $color__light--1;
      }
    }


  }
  &__logo{
    display: flex;
    align-items: center;
  }
}
.menu_button{
  display: none;
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  span{
    background-color:$color__secondary--2;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 4px;
    &:nth-child(1){
      top:0px;
      left: 0px;
    }
    &:nth-child(2){
      top:13px;
      left: 0px;
    }
    &:nth-child(3){
      bottom:0px;
      left: 0px;
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        transform: rotate(45deg);
        top: 13px;
      }

      &:nth-child(2) {
        opacity:0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 13px;
      }
    }
  }

}
@include media('<=1024px'){
  .header{
    &__logo{
      .svg-icon{
        width: 240px!important;
      }
    }
    &__links{
      &_item {
        padding: 0 20px;
        font-size: 13px;
      }
      &_basket{
        .svg-icon{
          width: 30px !important;
        }
        width: 70px;
      }
    }
  }
}

@include media("<=768px"){
  .header{
    &__logo{
      .svg-icon{
        width: 240px!important;
      }
    }
    &__links{
      align-items: center;
      &_item {
        display: none;
      }
      &_basket{
        &_count{
          left: 40px;
          right: auto;
        }
      }
    }
  }
  .menu_button{
    display: block;
  }
}