{% extends "emails/global.html.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div style="font-size: 14px;color:#000000;" class="order_done_info">
        <p style="font-size: 22px;">Благодарим Вас за покупку в интернет-магазине "Ювента-Крым".</p>

        <p>Мы не останавливаемся в развитии и постоянно стремимся сделать наш магазин удобнее для покупателя.</p>

        <p>Остались ли Вы довольны покупкой? Устраивает ли Вас скорость доставки товара, стоимость доставки и другие конкурентные преимущества нашего магазина? Мы будем Вам благодарны, если Вы расскажете о своих впечатлениях от заказа товара в нашем магазине.</p>

        <p>Написать отзыв – легко и просто!</p>

        <p>Кликните по ссылке <a href="http://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2508/*https://market.yandex.ru/shop/47591/reviews">Оставить отзыв</a>.</p>
    </div>
{% endblock %}
