<div class="form" data-url="{{ global.settings.links.forgot }}" data-callback="ForgotDone">
    <div class="text">
        Введите Email, который Вы водили при регистрации
    </div>
    <div class="reg-form__fields">
        <input class="element" name="action" value="process_forgot" type="hidden">
        <div class="form__data form__data_way_hor form__data_n_3">
            <div class="form__element">
              <div>
                  <div class="form__caption form__caption_required">Email</div>
                  <input type="text" class="form__input form__input_large element required" name="email" autocomplete="off">
              </div>
            </div>
        </div>
    </div>
    <div class="reg-form__under">
        <div class="reg-form__submit">
            <div class="submit btn btn_preset_submit">
                Отправить
            </div>
        </div>
        <div class="reg-form__note">
            Нажимая на кнопку «Отправить», вы даете согласие на обработку своих персональных данных.
        </div>
    </div>
</div>
