.breadcrumbs {
  &__list {
    display: flex;
  }

  &__item {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
  }

  &__link {
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #6B7A6B;
    &_active{
      color: $color__secondary--1;
    }
    &:not(&_active):hover{
      color: #B88626;
    }
  }

  &__line {
    margin: 0 8px;
    color: #6B7A6B;
  }
}