{% import 'frontend/elements/svg/svg_macros.twig' as Svg %}
<div class="modal__block">
    <div class="modal__img">
        <div class="modal__img-inner">{{ Svg.icon('skill-1', 1) }}</div>
    </div>
</div>
<div class="modal__block">
    <div class="modal__block-title">Спасибо за подписку!</div>
    <div class="modal__block-text">Теперь мы точно знаем, primer@ya.ru — ваш email адрес. Чтобы письма от thesmak.ru не попали в спам, добавьте mail@thesmak.ru в адресную книгу.</div>
</div>