{% import 'frontend/elements/svg/svg_macros.twig' as Svg %}
<div class="modal__block">
    <div class="modal__img">
        <div class="modal__img-inner">{{ Svg.icon('skill-2', 1) }}</div>
    </div>
</div>
<div class="modal__block">
    <div class="modal__block-title">Спасибо за сообщение!</div>
    <div class="modal__block-text2">
        <p>Мы благодарны вам за обратную связь. Сделаем наши услуги еще лучше и удобнее для вас!</p>
    </div>
</div>