{% extends "global.html.twig" %}
{% block content %}
    <div class="container">
        <div class="users_confirmation_block">
            {% include 'global/message.html.twig'%}
        </div>
    </div>

{% endblock %}