{% extends "global.html.twig" %}
{% block content %}
    {% if items %}
        <div class="js_basket_wrapper">
            {% include 'frontend/components/basket/basket.twig' %}
        </div>

    {% else %}
        <div class="basket_noitems">
            В корзине пока нет товаров
        </div>
    {% endif %}
{% endblock %}
