<div class="payments">
    <div class="payments__payment">
        <div class="payments__image payments__image_master"></div>
    </div>
    <div class="payments__payment">
        <div class="payments__image payments__image_visa"></div>
    </div>
    <div class="payments__payment">
        <div class="payments__image payments__image_mir"></div>
    </div>
    <div class="payments__payment">
        <div class="payments__image payments__image_qiwi"></div>
    </div>
    <div class="payments__payment">
        <div class="payments__image payments__image_youm"></div>
    </div>
</div>