.menu{
  position: absolute;
  top: -100vh;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 111;
  height: 100vh;
  @include transitions(top);
  &.open{
    top: 76px;
  }
  &_links{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    &_item{
      width: 100%;
      text-align: center;
      padding: 30px;
      font-size: 18px;
      font-weight: 600;
      color: #6B7A6B;
    }
  }
}