{% import 'frontend/elements/svg/svg_macros.twig' as Svg %}
<div class="about">
    <div class="about_logo">
        {{ Svg.icon('logo-2', 1, 275,98) }}
    </div>
    <div class="about_text">
        {{ about.about_text }}
    </div>
</div>